<% if type == 'new' %>
  <% action_url = cats_url %>
  <% button_text = 'Create Cat' %>
<% else %>
  <% action_url = cat_url(cat) %>
  <% button_text = 'Edit Cat' %>
<% end %>


<form action="<%= action_url %>" method="POST">
  <% if type == 'edit' %>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <label>Name:
    <input type="text" name="cat[name]" value="<%= cat.name %>">
  </label>
  <label>Sex:
    <input type="radio" id='male' name='cat[sex]' value='M'>
    <label for="male">Male</label>
    <input type="radio" id='female' name='cat[sex]' value='F'>
    <label for="female">Female</label>
  </label>
  <label>Birthdate:
    <input type="date" name="cat[birthdate]" value="<%= cat.birthdate %>">
  </label>
  <label>Color:
    <select name="color">
        <% colors = Cat.all.pluck(:color) %>
        <% colors.each do |color| %>
            <option value=""><%= color %></option>
        <% end%>
    </select>
  </label>

  <input type="submit" value="<%= button_text %>">
</form>